In [1]:
from sqlalchemy import create_engine

In [2]:
engine = create_engine('postgresql://localhost:5432/postgres')
connection = engine.connect()

In [3]:
data = engine.execute("SELECT salary FROM salaries")
data = [d for d in data]
# for record in data:
#     print(record)

In [ ]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as sts
import numpy as np

plt.hist(data)
plt.xlabel('Salaries ($)')
plt.ylabel('Counts')
plt.savefig("salary_counts.png")
plt.show()